{% extends "base.html" %}

{% block naslov %}
Filton Hotels | Restore Opinion
{% endblock naslov %}


{% block vsebina %}

<h3> Restore Your Message: </h3>

<form method="post" action="/opinions-details/{{ opinion.key.id() }}/restore">
    <h4> Your First and Last Name: </h4>
    <p>{{ opinion.first_last_name }} </p>
    <h4>Your Email: </h4>
    <p> {{ opinion.email }} </p>
    <h4>Your Opinion: </h4>
    <p>{{ opinion.opinion }} </p>
    <br>
    <br>
    <button type="submit"> Restore Message! </button>
    <br>
</form>

<ul class="nav nav-pills">
    <li>
        <a href="/opinions"> Back to Opinions </a>
    </li>
</ul>

{% endblock vsebina %}